footer {
  background: #232323;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 15em;
  color: #ffffff;
}
.footer div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.footer-sm__title {
  margin-bottom: 10px;
}
.footer-sm-social-media {
  display: flex;
  justify-content: space-between;
  font-size: 1.5em;
  margin: 1em 0;
  i {
    color: white;
  }
}

.footer-sm__title {
  font-family: $josefin;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 26px;

  display: flex;
  align-items: center;
  letter-spacing: 3.36px;
  text-transform: uppercase;

  color: #ffffff;
}
.footer-sm_subtitle {
  font-family: Josefin Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;

  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 1.6px;

  color: #ffffff;
}
.footer-sm-social-media {
  a {
    margin-right: 15px;
    i {
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 26px;

      display: flex;
      align-items: center;
      text-align: center;
      letter-spacing: 1.6px;

      color: #e8e8e8;
    }
    i:hover {
      color: #6b6bff;
    }
  }
}
