.header-up {
  background-image: url("../../assets/header_bg.png");
  background-color: rgba(0, 0, 0, 0.0001);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;

  @include mobile {
    .header-up__container {
      width: 100%;
      display: flex;
      justify-content: space-between;

      align-items: center;
      h1 {
        font-size: 1.5em;
      }
      p {
        font-size: 0.5em;
      }
      form {
        width: 90%;
        height: 50px;
        input {
          font-size: 7px;
        }
      }
      .btn-search {
        height: 50px;
      }
    }
  }
}

.header-up__title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  align-items: center;

  h1 {
    font-family: $josefin;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 26px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 4.8px;
    text-transform: uppercase;
    margin-bottom: 11px;

    color: #ffffff;
  }
  p {
    font-family: $josefin;

    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 26px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 6.82px;

    color: #ffffff;

    margin-bottom: 48px;
  }
  form {
    position: relative;
    background: #ffffff;
    height: 63px;
    width: 656px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 107px;

    .search {
      height: 20%;
      width: 80%;

      border: none;
      font-family: $josefin;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 26px;

      display: flex;
      align-items: center;
      text-align: center;
      letter-spacing: 2.8px;

      color: #999999;
    }
    .btn-search {
      @include doBtn();

      font-family: $aleo;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 26px;

      display: flex;
      align-items: center;
      text-align: center;
      letter-spacing: 1.4px;
      text-transform: uppercase;

      color: #ffffff;
      span {
        width: 92px;
        height: 26px;
        font-size: 14px;
        text-align: center;
        place-content: center;
      }
    }
    i {
      padding-top: 5px;
      width: 22px;
      height: 24px;
    }

    @include mobile {
      .header-up__title {
        color: red;
        font-size: 1.5em;
      }
    }
  }
}

.header-up__container {
  justify-content: flex-end;
  align-items: center;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 142px;
  margin-top: 361px;
  width: 50%;
}

.scroll-down {
  display: flex;
  flex-direction: column;
  align-items: center;
  p {
    margin: 0;
    font-family: $josefin;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 26px;
    /* identical to box height, or 186% */

    // display: flex;
    // align-items: center;
    // text-align: center;
    letter-spacing: 2.8px;

    color: #ffffff;
  }
  i {
    color: white;
    opacity: 0.5;
  }
}
/////contact///
.contact {
  align-items: center;
  height: 80px;
  display: flex;
  flex-direction: row;
  background: #5474fd;
  .grid-container {
    display: grid;
    grid-template-columns: 0.8fr 0.5fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    align-items: center;
    grid-template-areas: "bhromaon . contact";
  }
  .bhromaon {
    grid-area: bhromaon;
    p {
      font-family: $josefin;
      font-style: normal;
      font-weight: bold;
      font-size: 24px;
      line-height: 26px;
      display: flex;
      align-items: center;
      letter-spacing: 2.4px;
      text-transform: uppercase;
      color: #ffffff;
      justify-content: center;
    }
  }

  .contact {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    align-items: center;
    text-align: center;
    grid-template-areas: "item1 item2 item3 item4";
    grid-area: contact;
    font-size: 1em;
    color: white;
    .item1,
    .item2,
    .item3,
    .item4 {
      font-family: $aleo;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 26px;
      /* identical to box height, or 186% */

      display: flex;
      align-items: center;
      text-transform: uppercase;
      justify-content: center;
      color: #ffffff;
    }
  }

  .item1 {
    grid-area: item1;
  }
  .item2 {
    grid-area: item2;
  }
  .item3 {
    grid-area: item3;
  }
  .item4 {
    grid-area: item4;
  }

  @include mobile {
    .bhromaon {
      p {
        font-size: 1em;
      }
    }
    .contact {
      font-size: 0.5em;
    }
  }
}

