.choose {
  background-image: url("../../assets/choose_bg.png");
  background-size: cover;
  color: #ffffff;
  display: flex;
  align-items: center;

  ul {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    li {
      display: flex;
      flex-direction: column;
      width: 50%;
      padding: 5%;
      &:nth-child(1) {
        justify-content: center;
      }
      &:nth-child(2) {
        justify-content: center;
      }
      .choose-first {
        margin-bottom: 10px;
      }
    }
    h2 {
      margin-bottom: 50px;
      font-family: $aleo;
      font-style: normal;
      font-weight: normal;
      font-size: 36px;
      line-height: 26px;

      display: flex;
      align-items: center;

      color: #ffffff;
    }
    p {
      margin-bottom: 45px;
      font-family: $josefin;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 26px;

      display: flex;
      align-items: center;
      letter-spacing: 1.6px;

      color: #e8e8e8;
    }

    img {
      width: 350px;
      height: 220px;
      &:nth-child(2) {
        align-self: center;
      }
    }
  }
  @include mobile {
    ul {
      display: flex;
      flex-direction: column;
      li {
        width: 100%;
      }
      img {
        width: 17em;
        padding-left: 5%;
      }
    }
  }
}
.choose__button {
  @include doBtn();

  border: none;
  width: 228px;
  height: 63px;
  left: 0px;
  top: 0px;
  background: #5474fd;

  overflow: hidden;
  position: relative;
  span {
    position: relative;
    z-index: 2;
    font-family: $aleo;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    display: flex;
    align-items: center;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    color: #ffffff;
    justify-content: center;
  }
}
.choose__button::before {
  top: 0;
  left: 0;
  z-index: 1;
  position: absolute;
  content: "";
  display: block;
  background-color: #496bfe;
  width: 226%;
  height: 200%;
  transform: translateX(-211px) rotate(54deg);
  transition: all 0.3s ease-in-out;
}

////////////ICONS////////////////
.icons {
  background-color: #333333;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &__img {
    padding-top: 2em;
    width: 100%;
    justify-content: center;
    display: flex;
    img {
      width: 70%;
    }
  }
  ul {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin-bottom: 2em;
    li {
      text-align: center;
      text-transform: capitalize;
      color: #ffffff;
      .text-icon {
        margin-left: -46px;
      }
      .circle {
        position: absolute;
        top: 1591px;
        left: 723px;
      }
      .thumbs {
        position: absolute;

        top: 1600px;
        left: 1205px;
      }
      img {
        position: absolute;
        top: 1600px;
        left: 223px;
      }
      i {
        font-size: 45px;
        position: relative;
        top: -53px;
        left: 15px;
        color: #5474fd;
        margin-bottom: 19px;
      }
      #circle-icon {
        color: #ff6363;
      }
      #like {
        color: #098dd9;
      }
      p {
        font-family: $aleo;
        position: relative;
        top: -45px;
        left: 75px;
        font-style: normal;
        font-weight: normal;
        font-size: 36px;
        line-height: 26px;
        display: flex;
        align-items: center;
        text-align: center;
        color: #e8e8e8;
      }
    }
  }
  @include mobile {
    display: none;
  }
}
//////////////////////////SPAIN///////////////////////////
.first-spain {
  background-image: url("../../assets/spainone_bg.png");
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 47em;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.second-spain {
  background-image: url("../../assets/spaintwo_bg.png");
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 47em;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
#spain {
  left: 60%;
}
.spain-container {
  position: relative;
  left: 148px;
  top: -130px;
  background: #232323;
  mix-blend-mode: normal;
  opacity: 0.9;
  display: flex;
  flex-direction: column;
  width: 543px;
  height: 374px;

  padding: 3%;
  color: #ffffff;
  font-family: "Josefin Sans";
  font-weight: 300;

  h2 {
    margin-bottom: 13px;

    font-family: Josefin Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 26px;

    display: flex;
    align-items: center;
    text-transform: uppercase;

    color: #ffffff;
  }
  h4 {
    margin-bottom: 24px;

    font-family: $josefin;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 26px;

    display: flex;
    align-items: center;
    letter-spacing: 1.5px;

    color: #e8e8e8;
  }
  p {
    font-family: Josefin Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;

    margin-bottom: 46px;

    display: flex;
    align-items: center;

    color: #e8e8e8;
  }
  .btn-book-now {
    @include doBtn();
    width: 228px;
    height: 63px;
    left: 0px;
    top: 0px;
    overflow: hidden;
    position: relative;
    border: none;

    background: #5474fd;

    span {
      font-family: $aleo;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 26px;

      display: flex;
      align-items: center;
      letter-spacing: 1.2px;
      text-transform: uppercase;
      justify-content: center;
      color: #ffffff;
      position: relative;
      z-index: 2;
    }
  }
  .btn-book-now::before {
    top: 0;
    left: 0;
    z-index: 1;
    position: absolute;
    content: "";
    display: block;
    background-color: #496bfe;
    width: 200%;
    height: 200%;
    transform: translateX(-211px) rotate(54deg);
    transition: all 0.3s ease-in-out;
  }
}
@include mobile {
  .spain-container {
    width: 65%;
    left: 22%;
    .btn-book-now {
      width: 50%;
      height: 15%;
    }
  }
  #spain {
    left: 22%;
    .btn-book-now {
      width: 50%;
      height: 15%;
    }
  }
}

////////////////////////Tourist///////////
.tourist {
  background-image: url("../../assets/feedback_bg.png");
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 49em;
  background-repeat: no-repeat;
  background-size: cover;
  h2 {
    font-family: $aleo;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 26px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #ffffff;
    justify-content: center;
  }
  &-said {
    display: flex;
    padding: 8% 15%;
    &__text {
      padding: 2.5%;
      h3 {
        margin-bottom: 8px;
        font-family: $josefin;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 26px;

        display: flex;
        align-items: center;
        text-transform: uppercase;

        color: #fefefe;
      }
      &-con {
        display: flex;

        color: white;
        p {
          font-family: $josefin;
          line-height: 26px;

          align-items: center;
        }
        i {
          font-size: 36px;
          margin-right: 10px;
          color: #6b87eb;
        }
      }
    }
  }

  @include mobile {
    h2 {
      font-size: 2em;
    }
    &-said {
      display: flex;
      flex-direction: column;
      &__img {
        display: flex;
        flex-direction: column;
      }
    }
  }
}
